---
import Layout from "@/layouts/Layout.astro";
import HeroSection from "@/components/sections/HeroSection.tsx";
import FeaturesGrid from "@/components/sections/FeaturesGrid.tsx";
import HowItWorks from "@/components/sections/HowItWorks.tsx";
import Testimonials from "@/components/sections/Testimonials.tsx";
import CTA from "@/components/sections/CTA.tsx";
---

<Layout>
    <main class="bg-white">
        <HeroSection client:load />
        <FeaturesGrid client:load />
        <HowItWorks client:load />
        <Testimonials client:load />
        <CTA client:load />
    </main>
</Layout>
